<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ghautham Sambabu</title>

	<!-- Custom-Files -->
    <link href="{{url_for('static',filename='bundles/css/style-starter.css')}}" rel="stylesheet" type="text/css">
	 <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&amp;display=swap" rel="stylesheet">
    <!-- //web fonts -->
</head>

<body>
	<div id="page" class="page"><!-- Headers-4 block -->
    

<!-- Headers-4 block --><!-- w3l-content-photo-5 -->

<!-- //w3l-content-photo-5 --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    

<!-- Headers-4 block --><!--  Main banner section -->
 
 <!--  //Main banner section --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    

<!-- Headers-4 block --><!-- contact -->

<!-- //contact --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    <section class="w3l-header-4">
        <header id="headers4-block" class="editContent">
            <div class="container">
                <div class="d-grid nav-mobile-block header-align">
                    <div class="logo"><a class="brand-logo editContent" href="index.html">Ghautham Sambabu</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<!-- if logo is image enable this
                    <a class="brand-logo" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    </div>
                    <input type="checkbox" id="nav">
                    <label class="nav" for="nav"></label>
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars" style="outline: none; cursor: inherit;"></span></label>
                        <input type="checkbox" id="drop">
                        <ul class="menu">
                            <li class="propClone"><a href="index.html">Home</a></li>
                            <li class="propClone"><a href="about.html">About</a></li>
                            <li class="propClone"><a href="contact.html">Contact</a></li>
                           
                        </ul>
                        
                    </nav>
                    
                        
                   
                </div>
            </div>
        </header>

    </section>

<!-- Headers-4 block --><!-- w3l-content-photo-5 -->
<div class="w3l-content-photo-5 py-5 editContent" id="about">
	<div class="content-main pt-lg-5 pt-md-3 pb-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 content-photo editContent">
					<a href="#"><img src="{{url_for('static',filename='bundles/images/22.jpg')}}" class="img-fluid" alt="content-photo"></a>
				</div>
				<div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5 editContent">
					<h3 class="editContent">"A journey of a thousand miles begins with a <i>single </i>step"</h3><p>-Lao Tzu</p>
					<p class="mb-0 editContent">I strictly adhere to this quote as if you want to master anything you must start at the beginning of it. There are no shortcuts. Though you might fail more times than you can count the numbers of star in the sky, you must always keep forward and learn from your mistakes. With every mistake you able to fine tune yourself and be that much closer to your goals and achievements. If live has taught has taught me anything, it is that hardships are inevitable but not permanent so keep moving forward. It really is mind over matter and the mental fortitude that you have will endure through that darkest times. I can overcome anything as long as I can put my mind to it.&nbsp; &nbsp; &nbsp;&nbsp;</p>
					<br></div>
			</div>
		</div>
	</div>
</div>
<!-- //w3l-content-photo-5 --><!-- grids block 5 -->
 <section class="w3l-footer-29-main" id="footer">
  <div class="footer-29 text-center editContent">
      <div class="container">
        
        <div class="main-social-footer-29">
                    
          <a href="https://www.facebook.com/profile.php?id=100011048823388"><span class="fa fa-facebook" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://twitter.com/ghautham_sam01"><span class="fa fa-twitter" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://www.instagram.com/ghautham.sam01/"><span class="fa fa-instagram" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://github.com/ghautham-sam01"><span class="fa fa-github" style="color: rgb(255, 255, 255); font-size: 18px; outline: none; cursor: inherit;" src="bundles/images/g3.jpg" id="ui-id-43"></span></a>
          <a href="https://www.linkedin.com/in/ghautham-sambabu-87161618b/"><span class="fa fa-linkedin" style="outline: none; cursor: inherit;"></span></a>
      </div>
          <div class="bottom-copies text-center">
              <p class="copy-footer-29">© 2020 My Website. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
               
          </div>
      </div>
  </div>
 
</section></div><!-- /#page -->


</body></html>