<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ghautham Sambabu</title>

	<!-- Custom-Files -->
    <link href="{{url_for('static',filename='bundles/css/style-starter.css')}}" rel="stylesheet" type="text/css">
	 <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&amp;display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <link rel="shortcut icon" href="{{url_for('static',filename='bundles/images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='bundles/images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='bundles/images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='bundles/images/favicon-16x16.png')}}">

</head>

<body>
	<div id="page" class="page"><!-- Headers-4 block -->
    

<!-- Headers-4 block --><!--  Main banner section -->
 
 <!--  //Main banner section --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    

<!-- Headers-4 block --><!--  Main banner section -->
 
 <!--  //Main banner section --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    

<!-- Headers-4 block --><!-- contact -->

<!-- //contact --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    

<!-- Headers-4 block --><!--  Main banner section -->
 
 <!--  //Main banner section --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    <section class="w3l-header-4">
        <header id="headers4-block" class="editContent">
            <div class="container">
                <div class="d-grid nav-mobile-block header-align">
                    <div class="logo"><a class="brand-logo editContent" href="index.html">Ghautham Sambabu</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<!-- if logo is image enable this
                    <a class="brand-logo" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    </div>
                    <input type="checkbox" id="nav">
                    <label class="nav" for="nav"></label>
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars" style="outline: none; cursor: inherit;"></span></label>
                        <input type="checkbox" id="drop">
                        <ul class="menu">
                            <li class="propClone"><a href="index.html">Home</a></li>
                            <li class="propClone"><a href="about.html">About</a></li>
                            <li class="propClone"><a href="contact.html">Contact</a></li>
                           
                        </ul>
                        
                    </nav>
                    
                        
                   
                </div>
            </div>
        </header>

    </section>

<!-- Headers-4 block --><section class="w3l-contact-breadcrum">
  <div class="breadcrum-bg bg bg2">
    <div class="container py-5">
      <p class="editContent"><a class="editContent" href="index.html">Home</a> &nbsp; / &nbsp; Contact</p>
     </div>
  </div>
</section><!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">
            
            <div class="row cont-main-top">
               <!-- contact form -->
               <div class="contacts12-main col-lg-6 ">
                   
                <form action="mailto:ghautham.sam01@gmail.com" method="post" class="main-input" enctype="text/plain">
                    <div class="top-inputs d-grid editContent">
                        <input type="text" placeholder="Name" name="name">
                       
                    </div>
					<div class="editContent">
                    <input type="email" name="email" placeholder="Email">
                   </div>
				   <div class="editContent">
                    <textarea placeholder="Message" name="Message"></textarea>
                   </div>
				   <div class="text-right">
                        <button type="submit" class="btn btn-theme2">Email Me Now</button>
                    </div>
                </form>
            </div>
            <!-- //contact form -->
                <!-- contact address -->
                <div class="contact col-lg-6 mt-lg-0 mt-5 editContent" style="outline: none; outline-offset: -2px; cursor: inherit;">
                    <div class="cont-subs">
                        <div class="cont-add editContent" style="">
                            <div class="cont-add-lft">
                                <span class="fa fa-map-marker" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                           </div>
                           <div class="cont-add-rgt">
                            <p class="contact-text-sub editContent" style="">Princeton, NJ, USA</p>
                        </div>
                      
                    </div>
                        <div class="cont-add add-2 editContent" style="outline: none; cursor: inherit;">
                            <div class="cont-add-lft">
                                <span class="fa fa-envelope" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                           </div> 
                           <div class="cont-add-rgt">
                          <a class="editContent" href="mailto:ghautham.sam01@gmail.com">
                                </a><p class="contact-text-sub editContent" style="outline: none; cursor: inherit;"><span style="outline-color: initial; outline-width: initial; cursor: inherit;"><a href="mailto:ghautham.sam01@gmail.com">ghautham.sam01@gmail.com</a></span></p><a class="editContent" href="mailto:info@example.com">
                            </a>
                        </div>
                       
                    </div>
                        <div class="cont-add editContent">
                            <div class="cont-add-lft">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                           </div>
                            <div class="cont-add-rgt">
                                 <a class="editContent" href="tel:+7-800-999-800">
                                    </a><p class="contact-text-sub editContent" style="outline: none; cursor: inherit;"><a href="tel:+1-732-789-5636" style="outline: none; cursor: inherit;">+1-732-789-5636</a></p><a class="editContent" href="tel:+1-732-789-5636">
                                 </a>
                            </div>
                        </div>
                        <div class="cont-add add-3 editContent">
                            <div class="cont-add-lft">
                                <span class="fa fa-file-pdf-o" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                           </div>
                            <div class="cont-add-rgt">
                                <a class="editContent" href="{{url_for('static',filename='bundles/GhauthamSambabuResume.pdf')}}" download="">
                                    <p class="contact-text-sub editContent">Download Resume</p>
                                </a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!-- //contact address -->
                 
            </div>
        </div>
        <!-- map -->
        
        <!-- //map -->
    </div>
</section>
<!-- //contact --><!-- grids block 5 -->
 <section class="w3l-footer-29-main" id="footer">
  <div class="footer-29 text-center editContent medium-editor-element">
      <div class="container">
        
        <div class="main-social-footer-29">
                    
          <a href="https://www.facebook.com/profile.php?id=100011048823388"><span class="fa fa-facebook" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://twitter.com/ghautham_sam01"><span class="fa fa-twitter" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://www.instagram.com/ghautham.sam01/"><span class="fa fa-instagram" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://github.com/ghautham-sam01"><span class="fa fa-github" style="color: rgb(255, 255, 255); font-size: 18px; outline: none; cursor: inherit;" src="bundles/images/g3.jpg" id="ui-id-43"></span></a>
          <a href="https://www.linkedin.com/in/ghautham-sambabu-87161618b/"><span class="fa fa-linkedin" style="outline: none; cursor: inherit;"></span></a>
      </div>
          <div class="bottom-copies text-center">
              <p class="copy-footer-29">© 2020 Ghautham Sambabu. All rights reserved </p>
               
          </div>
      </div>
  </div>
 
</section></div><!-- /#page -->


</body></html>