<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ghautham Sambabu</title>

	<!-- Custom-Files -->
    <link href="{{url_for('static',filename='bundles/css/style-starter.css')}}" rel="stylesheet" type="text/css">
	 <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&amp;display=swap" rel="stylesheet">
    <!-- //web fonts -->
</head>

<body>
	<div id="page" class="page"><!-- Headers-4 block -->
    

<!-- Headers-4 block --><!--  Main banner section -->
 
 <!--  //Main banner section --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    

<!-- Headers-4 block --><!--  Main banner section -->
 
 <!--  //Main banner section --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    

<!-- Headers-4 block --><!-- contact -->

<!-- //contact --><!-- grids block 5 -->
 <!-- Headers-4 block -->
    <section class="w3l-header-4">
        <header id="headers4-block" class="editContent">
            <div class="container">
                <div class="d-grid nav-mobile-block header-align">
                    <div class="logo"><a class="brand-logo editContent" href="index.html">Ghautham Sambabu</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<!-- if logo is image enable this
                    <a class="brand-logo" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    </div>
                    <input type="checkbox" id="nav">
                    <label class="nav" for="nav"></label>
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars" style="outline: none; cursor: inherit;"></span></label>
                        <input type="checkbox" id="drop">
                        <ul class="menu">
                            <li class="propClone"><a href="index.html">Home</a></li>
                            <li class="propClone"><a href="about.html">About</a></li>
                            <li class="propClone"><a href="contact.html">Contact</a></li>
                           
                        </ul>
                        
                    </nav>
                    
                        
                   
                </div>
            </div>
        </header>

    </section>

<!-- Headers-4 block --><!--  Main banner section -->
 <section class="w3l-main-banner" id="home">
  <div class="companies20-content">
    <div class="companies-wrapper">
        <div class="item">
         
            <div class="slider-info banner-view text-center bg bg2">
              <div class="banner-info container">
                <img src="{{url_for('static',filename='bundles/IMG_0315.jpg')}}" alt="about image" class="img-fluid" style="border-radius: 50%; border-color: rgb(255, 255, 255); border-style: solid; border-width: 4px;">
                <h3 class="banner-text mt-5 editContent">Hello, I’m Ghautham Sambabu</h3>
                  <p class="my-4 mb-5 editContent">Majoring in Computer Science</p><br>
               
              </div>
            </div>
          
        </div>
    </div>
  </div>
</section>
 <!--  //Main banner section --><section class="w3l-about ">
<div class="skills-bars py-5 editContent medium-editor-element">
 <div class="container py-md-3">
  <div class="heading text-center mx-auto">
    <h3 class="head editContent">Welcome To My Site</h3>
    <p class="my-3 head editContent" style="">I am an avid programmer with 4+ years of experience. I started in high
        school programming apps as a freshman and taking my skills above and beyond most college level courses. I even
        got to a national level in FBLA Mobile Application Development as a junior and placed 5th in the state.&nbsp;
        I currently am a college student at Rutgers-New Brunswick and working on Python apps. I love to cook exquisite
        dishes and am a fitness junkie as well. I have worked Photoshop and experimenting in DaVinci Resolve Editor.
        &nbsp;&nbsp;</p>
      
    </div>
<div class="row mt-5 pt-3">
    <div class="col-lg-4 col-md-4 col-sm-6 skills-bar-grids mb-4 pb-2 editContent" style="outline: none; cursor: inherit;">
        <h4 class="editContent" style="outline: none; cursor: inherit;">Java</h4>
        <div class="progress editContent" style="outline: none; cursor: inherit;">
        <div class="progress-bar progress-bar-striped bg-color editContent" role="progressbar" style="width: 100%; height: 4px; outline: none; cursor: inherit;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
</div>
    <div class="col-lg-4 col-md-4 col-sm-6 skills-bar-grids mb-4 pb-2 editContent" style="outline: none; cursor: inherit;">
        <h4 class="editContent" style="outline: none; cursor: inherit;">Python</h4>
        <div class="progress editContent" style="outline: none; cursor: inherit;">
        <div class="progress-bar progress-bar-striped bg-color editContent" role="progressbar" style="width: 100%; height: 4px; outline: none; cursor: inherit;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">&nbsp; &nbsp;&nbsp;
      </div>
    </div>
</div>
<div class="col-lg-4  col-md-4 col-sm-6 skills-bar-grids mb-4 pb-2 editContent" style="outline: none; cursor: inherit;">
    <h4 class="editContent" style="outline: none; cursor: inherit;">Android Studio</h4>
    <div class="progress editContent" style="outline: none; cursor: inherit;">
    <div class="progress-bar progress-bar-striped bg-color editContent" role="progressbar" style="width: 100%; height: 4px; outline: none; cursor: inherit;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
</div>
<div class="col-lg-4  col-md-4 col-sm-6 skills-bar-grids mb-4 pb-2 editContent" style="outline: none; cursor: inherit;">
    <h4 class="editContent" style="outline: none; cursor: inherit;">Unity</h4>
    <div class="progress editContent" style="outline: none; cursor: inherit;">
    <div class="progress-bar progress-bar-striped bg-color editContent" role="progressbar" style="width: 100%; height: 4px; outline: none; cursor: inherit;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
</div>
<div class="col-lg-4  col-md-4 col-sm-6 skills-bar-grids mb-4 pb-2 editContent" style="outline: none; cursor: inherit;">
    <h4 class="editContent" style="outline: none; cursor: inherit;">AWS</h4>
    <div class="progress editContent" style="outline: none; cursor: inherit;">
    <div class="progress-bar progress-bar-striped bg-color editContent" role="progressbar" style="width: 100%; height: 4px; outline: none; cursor: inherit;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 skills-bar-grids editContent" style="outline: none; cursor: inherit;">
    <h4 class="editContent" style="outline: none; cursor: inherit;">HTML</h4>
    <div class="progress editContent" style="outline: none; cursor: inherit;">
    <div class="progress-bar progress-bar-striped bg-color editContent" role="progressbar" style="width: 100%; height: 4px; outline: none; cursor: inherit;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
</div>

 </div>
 </div>
</div>
 </section><section class="w3l-feature-3" id="features">
	<div class="grid top-bottom bg bg2">
		<div class="container">
			<div class="heading text-center mx-auto">
                <h3 class="head text-white editContent">Down Below are My Areas of Expertise</h3>
                <p class="my-3 head text-white editContent">In these past couple of years, my portfolio has grown from printing out the generic "Hello statement" to working VR environments</p>
              </div>
			<div class="middle-section grid-column text-center mt-5 pt-3">
				<div class="three-grids-columns editContent">
					<span class="fa fa-gamepad" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(53, 162, 44); font-size: 48px;" src="bundles/IMG_0315.jpg" id="ui-id-32"></span>
					<h4 class="editContent">Unity/VR</h4>
					<p class="editContent">Made a variety of games from VR Fruit Ninja to Online Multi-Player Isometric Battle Royale all done on Unity&nbsp;</p>
					
				</div>
				<div class="three-grids-columns editContent">
					<span class="fa fa-android" style="color: rgb(53, 162, 44); font-size: 48px;" src="bundles/IMG_0315.jpg" id="ui-id-34"></span>
					<h4 class="editContent">Android Studio</h4>
					<p class="editContent" style="">Made a variety of apps from an interactive aesthetic Firebase integrated quiz to an caloric intake app&nbsp;</p>
					
				</div>
				<div class="three-grids-columns editContent">
					<span class="fa fa-code" style="color: rgb(53, 162, 44); font-size: 48px; outline: none; outline-offset: -2px; cursor: inherit;" src="bundles/IMG_0315.jpg" id="ui-id-35"></span>
					<h4 class="editContent"> HTML</h4>
					<p class="editContent">Created many projects and currently teaching kids as well at Code Ninjas using Repl.it</p>
					
				</div>
			</div>
		</div>
	</div>
</section><div class="products-4" id="portfolio">
    <!-- Products4 block -->
    <div id="products4-block" class="text-center editContent" style="outline: none; cursor: inherit;">
        <div class="container">
            <div class="heading text-center mx-auto mb-5">
                <h3 class="head editContent" style="outline: none; cursor: inherit;">I Love What I Do</h3>
                <p class="my-3 head editContent" style=""> Below are some pictures of projects I have been working
                    whether it be cooking or coding or Photoshop</p>
              </div>
            <input id="tab1" type="radio" name="tabs" checked="">
            <label class="tabtle editContent" for="tab1">All Projects</label>

            <input id="tab2" type="radio" name="tabs">
            <label class="tabtle editContent" for="tab2" style="outline: none; cursor: inherit; outline-offset: -2px;">Coding</label>

            <input id="tab3" type="radio" name="tabs">
            <label class="tabtle editContent" for="tab3" style="outline: none; cursor: inherit;">Cooking</label>

            <input id="tab4" type="radio" name="tabs">
            <label class="tabtle editContent" for="tab4" style="outline: none; cursor: inherit;">Editing</label>

            <section id="content1" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        
                                <img src="{{url_for('static',filename='bundles/images/quiz.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">
                           
                        
                    </div>
                    <div class="product">

                                <img src="{{url_for('static',filename='bundles/images/isoMultiBR.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">


                    </div>
                    <div class="product">
                        
                                <img src="{{url_for('static',filename='bundles/images/pizzaNew.jpg')}}" class="img-responsive" alt="">
                           
                        
                    </div>
                    <div class="product">
                        
                                <img src="{{url_for('static',filename='bundles/images/orangeChik.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">
                           
                        
                    </div>
                    <div class="product">
                        
                                <img src="{{url_for('static',filename='bundles/images/glitched.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">
                            
                        
                    </div>
                    <div class="product">
                       
                                <img src="{{url_for('static',filename='bundles/images/dreamscape.jpg')}}" class="img-responsive" alt="">
                           
                       
                    </div>


                </div>
            </section>

            <section id="content2" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                       
                                <img src="{{url_for('static',filename='bundles/images/quiz.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">
                           
                        
                    </div>
                    <div class="product">
                        
                                <img src="{{url_for('static',filename='bundles/images/isoMultiBR.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">
                           
                       
                    </div>
                </div>
            </section>

            <section id="content3" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                       
                                <img src="{{url_for('static',filename='bundles/images/pizzaNew.jpg')}}" class="img-responsive" alt="">
                           
                      
                    </div>
                    <div class="product">
                       
                                <img src="{{url_for('static',filename='bundles/images/orangeChik.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">
                           
                       
                    </div>
                </div>
            </section>

            <section id="content4" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        
                                <img src="{{url_for('static',filename='bundles/images/glitched.jpg')}}" class="img-responsive" alt="" style="outline: none; cursor: inherit;">
                           
                        
                    </div>
                    <div class="product">
                       
                                <img src="{{url_for('static',filename='bundles/images/dreamscape.jpg')}}" class="img-responsive" alt="">
                            
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Products4 block -->
</div><section class="services-12" id="experience">
	<div class="form-12-content bg bg2" style="">
		<div class="container">
			<div class="grid grid-column-2 ">
				
				<div class="column1">
          <h3 class="mb-5 editContent">Experiences</h3>
					<div class="experience-top editContent">
            <h5 class="editContent" style="outline: rgba(233, 94, 94, 0.5) solid 2px; outline-offset: -2px; cursor: pointer;">2019 - now</h5>
						<h4 class="editContent">Code Sensei at Code Ninjas</h4>
						<p class="my-3 text-white editContent" style="outline: none; cursor: inherit;">Started in late October, I am teaching kids
                            from ages 5-12 on how to code in Javascript, CSS, HTML</p>
            </div>
            <div class="experience-top editContent">
              <h5 class="editContent" style="outline: rgba(233, 94, 94, 0.5) solid 2px; outline-offset: -2px; cursor: pointer;">2017 - 2018</h5><h4 class="editContent">Volunteer at Liberty Science Center</h4>
              <p class="my-3 text-white editContent">
                  Started in late November of 2018,I interacted with the guests at the center from the entrance exhibit
                  to the animal exhibit. I did everything from playing mind games with them to showing them wild animals
              in different environments and showing the latest technological advancements in the performing surgeries </p>
              </div>
					</div>
					<div class="column2">
            <h3 class="mb-5 editContent">Education</h3>
            <div class="experience-top">
              <h5 class="editContent">2020-now</h5>
              <h4 class="editContent">Rutgers-New Brunswick</h4>
              <p class="my-3 text-white editContent">I will start attending this college in fall 2020, majoring in computer
              science</p>
              </div>
              <div class="experience-top editContent">
                <h5 class="editContent">2016-2020</h5>
                <h4 class="editContent">South Brunswick High School</h4>
                <p class="my-3 text-white editContent">My high school in which I was really able to start/hone my
                programming skills. Starting Java as Freshman I wrote basic programs </p>
                </div>
					</div>
			</div>
		</div>
	</div>
</section><!-- grids block 5 -->
 <section class="w3l-footer-29-main" id="footer">
  <div class="footer-29 text-center editContent medium-editor-element">
      <div class="container">
        
        <div class="main-social-footer-29">
                    
          <a href="https://www.facebook.com/profile.php?id=100011048823388"><span class="fa fa-facebook" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://twitter.com/ghautham_sam01"><span class="fa fa-twitter" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://www.instagram.com/ghautham.sam01/"><span class="fa fa-instagram" style="outline: none; cursor: inherit;"></span></a>
          <a href="https://github.com/ghautham-sam01"><span class="fa fa-github" style="color: rgb(255, 255, 255); font-size: 18px; outline: none; cursor: inherit;" src="bundles/images/g3.jpg" id="ui-id-43"></span></a>
          <a href="https://www.linkedin.com/in/ghautham-sambabu-87161618b/"><span class="fa fa-linkedin" style="outline: none; cursor: inherit;"></span></a>
      </div>
          <div class="bottom-copies text-center">
              <p class="copy-footer-29">© 2020 Ghautham Sambabu. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
               
          </div>
      </div>
  </div>
 
</section></div><!-- /#page -->


</body></html>